@font-face {
  font-family: Lora;
  src: url("assets/fonts/Lora-Regular.ttf");
}
  
* {
  box-sizing: border-box;
}
    
html {
  scroll-behavior: smooth; 
}

@media (max-width: 500px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
  }

  .footer-container > p {
    padding-bottom: 15px;
    line-height: 20px;
  }

  .footer-container > .rss-link {
    margin-left: 10px;
    margin-bottom: 8px;
  }
}

@media (max-width: 370px) {
  .header-container > h1 {
    font-size: 30px;
  }

  .game-result-wrapper > .game-result-box {
    width: 250px;
    box-shadow: 0px 0px 30px 5px rgb(236 223 223 / 70%);
  }

  .main > .main-container {
    padding: 0 10px;
  }

  .main-container > .game-area {
    width: 300px;
    height: 300px;
  }

  .main-container > .game-area > .cell {
    width: 95px;
    height: 95px;
  }

  .main-container > .score-table {
    width: 300px;
  }

  .table-body > tr > td {
    font-size: 15px;
  }

}

body {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to right top, #a64c4c, #b86c64, #ca8b7f, #daab9d, #eacabe, #e8d3c5, #e7dbcf, #e7e2da, #d5d5cc, #c3c7c0, #b3bab4, #a3aca9);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Lora, serif;
  font-weight: 400; 
  font-size: 20px;
  line-height: 50px; 
  text-align: left;
  color: #353535;
}  
  
h1 {
  max-width: 300px;
  margin: 20px;
  padding: 10px;
  font-weight: 700; 
  font-size: 35px;
  line-height: 50px; 
  text-shadow: 3px 5px 2px #adadad;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(107, 74, 74, 0.15) inset;
}

.whos-turn > p,
.table-name {
  margin: 0;
  padding: 15px 5px 15px 5px;
  font-weight: 600; 
  font-size: 25px;
  line-height: 40px; 
  text-align: center;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.volume {
  width: 40px;
  height: 40px;
  background-image: url('./assets/svg/volume.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  filter: invert(19%) sepia(39%) saturate(0%) hue-rotate(192deg) brightness(101%) contrast(101%);
  cursor: pointer;
  transition: 0.3s;
}

.volume:hover {
  transform: scale(1.1);
  filter: invert(31%) sepia(5%) saturate(2302%) hue-rotate(311deg) brightness(98%) contrast(92%);
}

.volume.muted {
  background-image: url('./assets/svg/muted.svg');
}

.whos-turn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-area {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cell {
  width: 100px;
  height: 100px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.33);
  border-radius: 10px;
  transition: 0.5s;
  background-size: 0%;
  background-position: center;
  background-repeat: no-repeat;  
  cursor: pointer;
}

.cell.cross {
  background-image: url('./assets/svg/cross.svg');
  background-size: 75%;
  transition: 0.8s;
  pointer-events: none;
}

.cell.circle {
  background-image: url('./assets/svg/circle.svg');
  background-size: 75%;
  transition: 0.8s;
  pointer-events: none;
}

.cell:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.restart-game {
  width: 160px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  margin: 15px 5px 15px 5px;
  padding: 0;
  background: #6b4a4a;
  font-family: Lora, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.restart-game:hover {
  background: #6b4a4a radial-gradient(circle, transparent 1%, #6b4a4a 1%) center/15000%;
  box-shadow: inset -7em 0 0 0 #a37e7e, inset 7em 0 0 0 #a37e7e;;
}

.restart-game:active {
  transform: scale(0.8);
  background-color: #a37e7e;
  box-shadow: 0 2px 25px rgba(255, 255, 255, 0.2);
  background-size: 100%;
  transition: 0s;
}

.score-table {
  width: 320px;
}

.table-header {
  height: 20px;
  background-color: rgba(53, 53, 53, 0.4);
  color: #ffffff;
}

.table-body {
  background-color: rgba(255, 255, 255, 0.2);
  color: #353535;
}

tr {
  height: 20px;
}

th {
  height: 40px;
  padding: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
}

.winner-header-cell {
  width: 240px;
}

.moves-header-cell {
  width: 80px;
}

td {
  height: 35px;
  padding: 5px;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
}

.game-result-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 30px 0 30px;
  display: none;
}

.game-result-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(53, 53, 53, 0.5);
}

.game-result-box {
  width: 350px;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius: 15px;
  box-shadow: 0px 0px 80px 5px rgba(236, 223, 223, 0.7);
  background-color: #ecdfdf;
  transform: translate(-50%, -50%);
}

.game-over {
  font-weight: 700;
  font-size: 25px;
  color: #2c2c2c;
  text-align: center;
}

.winner-info,
.moves-number {
  font-size: 20px;
  line-height: 40px;
  color: #2c2c2c;
  text-align: center;
}

.winner-name-block {
  display: flex;
  justify-content: center;
  max-height: 50px;
}

.winner-name-field {
  width: 157px;
  height: 28px;
  margin: 5px 0 5px 0;
  padding: 3px 5px 3px 5px;
  background-color: #ffffff; 
  border: 1.5px solid #818181;
  box-sizing: border-box;
  border-radius: 3px;
  font: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #242424;
  text-align: center;
  text-transform: capitalize;
}

.winner-name-field::placeholder {
  padding: 0;
  font-weight: 400;
  text-transform: none;
}

.play-again {
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  margin: 5px;
  padding: 0;
  background: #6b4a4a;
  font-family: Lora, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.play-again:hover {
  background: #6b4a4a radial-gradient(circle, transparent 1%, #6b4a4a 1%) center/15000%;
  box-shadow: inset -7em 0 0 0 #a37e7e, inset 7em 0 0 0 #a37e7e;;
}

.play-again:active {
  transform: scale(0.8);
  background-color: #a37e7e;
  box-shadow: 0 2px 25px rgba(255, 255, 255, 0.2);
  background-size: 100%;
  transition: 0s;
}

.footer > .container {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.3);
}
    
.github-link {
  position: relative;
  padding-left: 34px;
  text-decoration: none;
  color: #353535;
  transition: 0.5s;
}
  
.github-link:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 30px;
  height: 30px;
  background-image: url("./assets/svg/logo_github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s;
}
    
.rss-link {
  width: 121px;
  height: 45px;
  background-image: url("./assets/svg/logo_rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s;
}
  
.github-link:hover,
.rss-link:hover {
  filter: invert(13%) sepia(20%) saturate(0%) hue-rotate(205deg) brightness(107%) contrast(82%);
  transform: scale(1.05);
}