@font-face {
  font-family: 'Inter';
  src: url("assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url("assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}
  
@font-face {
  font-family: 'Merriweather';
  src: url("assets/fonts/Merriweather-Bold.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}
  
html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 400; 
  font-size: 20px;
  line-height: 50px; 
  color: #ffffff;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.line {
  width: 700px;
  margin: 0 auto;
  overflow-x: hidden;
}

h2 {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding: 100px 20px 60px 20px;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #BDAE82;
}

h2::before {
  content: '';
  position: absolute;
  width: 700px;
  content: '';
  border-bottom: 2px solid #BDAE82;
  top:140px;
  left: -700px;
}

h2::after {
  content: '';
  position: absolute;
  width: 700px;
  content: '';
  border-bottom: 2px solid #BDAE82;
  top:140px;
  right: -700px;
}



p {
  margin: 0;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background: url(./assets/jpeg/background.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat; 
  cursor: pointer; 
  transition: 0.5s;
}
.logo:hover {
  filter: invert(24%) sepia(19%) saturate(506%) hue-rotate(7deg) brightness(89%) contrast(91%);
}

.navigation {
  margin-left: auto;
  width: 500px;
  height: 50px;
}

.navigation-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}

.navigation-link:hover,
.github-link:hover,
.rss-link:hover {
  color: #BDAE82;
}

.navigation-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1.5px;
  background-color: #BDAE82;
  transition: .5s;
}

.navigation-link:hover::after,
.navigation-link:focus::after {
  width: 100%;
}

.language-switcher {
  width: 70px;
  height: 50px;
}

.language-switcher > span {
  padding: 12.335px 0;
  font-weight: 700;
}

.english {
  color: #BDAE82;
}

.english,
.russian {
  cursor: pointer;
}

.hero-container {
  position: relative;
  width: 1440px;
  height: 820px;
  margin: 0 auto;
  background-image: url('./assets/jpeg/background.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
} 

.hero-container > .section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 160px;
  width: 500px;
  height: 330px;
  margin-left: 80px;
  
}

.hero-title {
  margin: 0;
  font-family: Merriweather, serif;
  font-size: 60px;
  line-height: 120px;
  font-weight: 700;
}

.hero-text {
  width: 470px;
  height: 120px;
  margin: 0;
  line-height: 40px;
}

.hero-button {
  width: 220px;
  height: 55px;
  border: 0;
  padding: 0;
  background-color: #BDAE82;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.hero-button:hover {
  color: #FFFFFF;
}

#skills {
  height: 482px;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 242px;
}

.skills-items > div {
  position: relative;
  width: 320px;
  height: 240px;
  text-align: center;
}

.skill-name {
  position: absolute;
  left: 20px;
  top: 100px;
  width: 280px;
  height: 40px;
  font-weight: 700;
  line-height: 40px;
}

.skill-text {
  position: absolute;
  left: 20px;
  top: 160px;
  width: 280px;
  height: 72px;
  font-size: 18px;
  line-height: 36px;
}

.digital-photography::before,
.video-shooting::before,
.retouch::before,
.audio::before
{
  content: "";
  position: absolute;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.digital-photography::before {
  left: 129px;
  width: 62px;
  background-image: url('./assets/svg/camera.svg');
}

.video-shooting::before {
  left: 130px;
  width: 60px;
  background-image: url('./assets/svg/video.svg');
}

.retouch::before {
  left: 127px;
  width: 66px;
  background-image: url('./assets/svg/image.svg');
}

.audio::before {
  left: 144px;
  width: 32px;
  background-image: url('./assets/svg/mic.svg');
}

footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.footer-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 182px;
  height: 50px;
  padding-right: 13px;
}

.github-link,
.rss-link {
  color: #ffffff;
  text-decoration: none;
}

.rss > span {
  padding: 12.335px 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 188px;
  height: 50px;
}

.instagram {
  background-image: url('./assets/svg/instagram.svg');
}

.facebook {
  background-image: url('./assets/svg/facebook.svg');
}

.twitter {
  background-image: url('./assets/svg/twitter.svg');
}

.pinterest {
  background-image: url('./assets/svg/pinterest.svg');
}

.instagram,
.facebook,
.twitter,
.pinterest {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat; 
  cursor: pointer; 
  transition: 0.5s;
}

.instagram:hover,
.facebook:hover,
.twitter:hover,
.pinterest:hover {
  filter: invert(25%) sepia(32%) saturate(314%) hue-rotate(5deg) brightness(96%) contrast(86%);
}